* {
    box-sizing: border-box;
    margin: 0;
}


body{
    background-color:#0F0F0F ;
    margin: 10px 40px 10px 40px;
}
h1{
    background: linear-gradient(to right, #26E4C2, #459FF5);
    min-width: fit-content;
   -webkit-background-clip: text; 
    color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px 0px 0px 15px;
    font-size: 70px;

}
h2{
    color: #FCFCFC;
    margin: 15px 15px 15px 15px;
    font-family: Arial, Helvetica, sans-serif;

}
.Logo{
    display: grid;
    grid-template-columns: repeat(4, 80px) ;
    gap: 60px;
    margin: 40px 15px 15px 15px;
}

.Logo img:hover {
    transform: scale(1.05);
}

@media only screen and(max-width: 800px) {
    .logo{
        display: grid;
        grid-template-columns: repeat(2, 1fr) ;
        gap: 20px;
        justify-items: start;
        
    }
    
}
.Undervisere{
    
    display: flex;
    text-align: center;
    font-size: medium;
    gap: 50px;
    margin-top: 100px;
   

}
.Kollega1{
    font-family: Arial, Helvetica, sans-serif;
    color: #FCFCFC;
    text-decoration: none;
}

.Kollega1 a {
    text-decoration: none;
    color: white;
}

.Kollega2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #FCFCFC;
    text-decoration: none;
}
.Kollega2 a {
    text-decoration: none;
    color: white;
}
.Kollega3 {
    font-family: Arial, Helvetica, sans-serif;
    color: #FCFCFC;
    text-decoration: none;
}
.Kollega3 a {
    text-decoration: none;
    color: white;
}
.Kollega4 {
    font-family: Arial, Helvetica, sans-serif;
    color: #FCFCFC;
    text-decoration: none;
}
.Kollega4 a {
    text-decoration: none;
    color: white;
}
.h2logo{
display: flex;
margin-top: 50px;
align-items: center;
gap: 50px;

}

@media screen and (max-width: 900px){
    
    .Undervisere{
        flex-direction: column;
    }
}
.brødkrumme {
list-style-type: none;
padding: 20px;

}
.brødkrumme a{
    color: #FCFCFC;
    text-decoration: none;
}
.brødkrumme li{
    display: inline;
}
.brødkrumme1 {
    font-weight:80;
    opacity: 0.6; 
}
.brødkrumme2 {
    font-weight: regular;
}